ul {
  
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: block;
  color: #FCF3CF;
  text-align: center;
  padding: 25px 22px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #424949;
    color: #B7950B;
}

.active {
  background-color: #17202A;
    color: #B7950B;
}

body {
  text-align: left;
color:#17202A;
font-size: 17px;
    font-family:"palatino linotype",serif;}


.img-container {text-align: center;}

h1 {text-align: center;
color:#515A5A ;
font-size: 35px;
    font-family:"palatino linotype",serif;}


h2 {text-align: left;
color:#17202A;
font-size: 30px;
    font-family:"palatino linotype",serif;}

p.padding {
  padding-top:1cm;
}
p.padding2 {
  padding-left:2cm;
}
p.padding3 {
  padding-top:1cm;
}
p.padding4 {
  padding-bottom:1cm;
}

p.padding5 {
  padding-left:2cm;
    padding-bottom:1cm;
}


p.padding6 {

    padding-left:1.3cm;
}
p.padding7 {
  padding-bottom:1cm;
}
 p.padding8 {
  padding-top:0.5cm;
}   
   
.division1 {
  margin: 35px 35px 35px 100px;
  
}






#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color:#D4AC0D;
  color: #17202A;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color:#FCF3CF;
}


/* Zoom In #2 */
.hover02 figure img {
	width:500px;
    height:300px;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover02 figure:hover img {
	width:510px;
    height:310px;
}


/* for the contact form */
.form1
input[type=text], select, textarea {
    
  width: 100%;
  padding: 12px;
  border: 1px solid #CCD1D1;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
    text-align: left;
    align-content: left;
}

.form1 
input[type=submit] {
 
  background-color: #424949;
  color: #D4AC0D;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
   text-align: center;
    align-content: left;
}
.form1
input[type=submit]:hover {
  background-color: #FCF3CF;
    color: #424949;
   
}
.form1
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
    text-align: left;
    align-content: left;
    
    
    
}




/* for the contact form */


.map-responsive{

    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe{

    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;

}

p.ex1 {
  margin-bottom: 50px;
}


#endpage {

  padding: 40px;
  background: #424949;
  background-clip: content-box;
}
   
p.padding11 {
  padding-top:2cm;
}



#h10 {text-align: center;
color:#EAEDED ;
font-size: 17px;
    font-family:"palatino linotype",serif;}

#h12 {
color:#EAEDED ;
font-size: 17px;
    font-family:"palatino linotype",serif;}

p.padding41 {
  padding-left:1cm;
  
}
p.padding110 {
  padding-left:2cm;
  
}
p.padding42 {
  padding-top:0.5cm;
  padding-left:1cm; 
    
}



.flex-center {
  display: flex;
  justify-content: center;
}

footer {
  text-align: center;
  color: black;
    font-size: 15px;
}

p.padding71 {
  padding-top:1cm;
}

p.padding81 {
  padding-right:4cm;
}

p.padding91 {
  padding-bottom:1cm;
}

form {

  font-family: "palatino linotype",serif;
    align-content: center;
    text-align: center;
}

.container10 {
  align-content: center;
    text-align: center;
 
}

.container2 {
  align-content: center;
    text-align: center;
}

input[type=text], input[type=submit] {
  align-content: center;
  width: 20%;
  padding: 5px;
  margin: 8px 0;
  display:inline-block;
  box-sizing: border-box;
    align-content: center;
    text-align: center;
    
}

input[type=submit] {
  background-color: #F9E79F ;
  color: #424949;
  border: none;
   width: 20%; 
    align-content: center;
    text-align: center;
    
}
input[type=submit]:hover {
  opacity: 0.8;
}


/* Zoom In #2 */
.hover021 figure img {
	width:100px;
    height:100px;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover021 figure:hover img {
	width:110px;
    height:110px;
}

/* Zoom In #2 */
.hover031 figure img {
	width:50px;
    height:50px;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover031 figure:hover img {
	width:56px;
    height:56px;
}

footer {
  text-align: center;
  color: black;
    font-size: 15px;
}
